---
layout: default
title: Publications
permalink: /publications
---

<div class="container mt-5">

  <h2>Pre-Prints</h2>  

    {% for pub in site.data.publications.references %}

      {% if pub.type == 'manuscript' %}
        <p>
        {% include publication.html publication=pub %}
        </p>
      {% endif %}

    {% endfor %}

  <h2>Published Research Papers</h2>  

  {% capture years %}
      {% for pub in site.data.publications.references %}
        {% if pub.issued contains '-' %}
          {% assign pub_date = pub.issued | split: "-" | first %}
        {% else %} 
          {% assign pub_date = pub.issued %}
        {% endif %}         
        {{ pub_date }}
      {% unless forloop.last %}|{% endunless %}
      {% endfor %}
  {% endcapture %}

  {% assign years = years | split: "|" | uniq | sort | reverse %}

  {% for year in years %}
    <h3>{{ year }}</h3>
    {% for pub in site.data.publications.references %}
      {% unless pub.type == 'manuscript' %}
        <p>
        {% if pub.issued contains '-' %}
          {% assign pub_year = pub.issued | split: "-" | first %}
        {% else %} 
          {% assign pub_year = pub.issued %}
        {% endif %}
        {% assign year_int = year | plus: 0 %}
        {% assign pub_year_int = pub_year | plus: 0 %}
        {% if pub_year_int == year_int %}
          {% include publication.html publication=pub %}
        {% endif %}      
        </p>
      {% endunless %}
    {% endfor %}
  {% endfor %}

  <h2>Standards and Specifications</h2>

  <p><a href="http://www.openarchives.org/rs/resourcesync" target="_blank">ResourceSync Framework Specification</a> (co-editor): describes a synchronization framework for the web consisting of various capabilities that allow third party systems to remain synchronized with a server's evolving resources.</p>

  <p><a href="http://www.openannotation.org/spec/core/" target="_blank">Open Annotation Data Model</a>  (contributor): specifies an interoperable framework for creating associations between related resources, annotations, using a methodology that conforms to the Architecture of the World Wide Web. Open Annotations can easily be shared between platforms, with sufficient richness of expression to satisfy complex requirements while remaining simple enough to also allow for the most common use cases, such as attaching a piece of text to a single web resource.</p>

</div>