---
layout: default
title: Software & Datasets
permalink: /software_data
description: "Open source software tools and research datasets by Bernhard Haslhofer for cryptoasset analytics, blockchain analysis, and digital currency research."
keywords: "open source software, research datasets, cryptoasset analytics tools, blockchain analysis, GraphSense, digital currency data"
---

<div class="container mt-5">

  <p>
    I believe in open science and reproducible research. The software tools and datasets listed below 
    support the broader research community in advancing our understanding of digital currencies, 
    blockchain technologies, and their socio-economic implications.
  </p>

  <h2>Open Source Software</h2>

  {% for project in site.data.software %}
    <p>
      <em>
        <a href="{{project.uri}}">{{project.title}}</a>:
      </em> {{project.description}}
    </p>
  {% endfor %}

  <h2>Datasets</h2>

  {% for dataset in site.data.datasets %}
    <p>
      <em>
        <a href="{{dataset.uri}}">{{dataset.title}}</a>:
      </em> {{dataset.description}}
    </p>
  {% endfor %}

</div>