{% assign project = include.project %}
<p>
  <em>
    {% if project.uri %}
      <a href="{{project.uri}}">{{project.acronym}}</a>
    {% else %}
      {{project.acronym}}
    {% endif %}
    ({{project.start_date | date: "%m/%Y"}}-{{project.end_date | date: "%m/%Y"}}),
    {% if project.funding_source_uri %}
      <a href="{{project.funding_source_uri}}">{{project.funding_source}}</a>,
    {% else %}
      {{project.funding_source}},
    {% endif %}
    {{project.role}}.
  </em>
  {{project.description}}
</p>
