{% assign project = include.project %}
<p class="pub-title">
  {% if project.uri %}
    <a href="{{ project.uri }}">{{ project.acronym }}</a>
  {% else %}
    {{ project.acronym }}
  {% endif %}
</p>
<p class="pub-venue">
  {{ project.flag }}
  {% if project.funding_source_uri %}
    <a href="{{ project.funding_source_uri }}">{{ project.funding_source }}</a>
  {% else %}
    {{ project.funding_source }}
  {% endif %}
  ({{ project.start_date | date: "%m/%Y" }} – {{ project.end_date | date: "%m/%Y" }})
</p>
<p class="pub-description">{{ project.description }}</p>
{% if project.uri %}
<div class="publication-links">
  <a href="{{ project.uri }}" target="_blank" class="pub-link"><i class="fas fa-external-link-alt"></i> Website</a>
</div>
{% endif %}
