<p>

{% assign publication = include.publication %}

{% for author in publication.author %}
  {% if forloop.last and publication.author.size > 1%}
    &
  {% endif %}
      {{ author.family }}, {{ author.given | slice: 0 }}.{% unless forloop.last %},{% endunless %}
{% endfor %}

{% if publication.issued contains '-' %}
  {% assign pub_date = publication.issued | split: "-" | first %}
{% else %} 
  {% assign pub_date = publication.issued %}
{% endif %}         

({{ pub_date }}).

{% if publication.URL %}
  <a href="{{publication.URL}}" target="_blank"><em>{{ publication.title }}</em></a>.
{% else %}
  <em>{{ publication.title }}</em>.
{% endif %}

{% case publication.type %}
  
  {% when 'paper-conference' %}
      {% if publication.editor %}
        In:
        {% for editor in publication.editor %}
          {% if forloop.last and publication.editor.size > 1%}
            &
          {% endif %}
              {{ editor.family }}, {{ editor.given | slice: 0 }}.{% unless forloop.last %},{% endunless %}
        {% endfor %} (eds.),
      {% endif %}
      {{ publication.container-title }}.
      {% if publication.note %}
        {% if publication.note contains "Best" %}
          <strong>{{publication.note}}</strong>.
        {% else %}  
          <em>{{publication.note}}</em>.
        {% endif %}
      {% endif %}
  
  {% when 'article-journal' %}
    {% if publication.volume and publication.issue %}
      {{ publication.container-title }},
      {{ publication.volume }}
      ({{ publication.issue }}).
    {% elsif publication.volume and publication.issue and publication.page %}
      {{ publication.container-title }},
      {{ publication.volume }}
      ({{ publication.issue }}),
      pp. {{ publication.page }}.
    {% elsif publication.volume and publication.page %}
      {{ publication.container-title }},
      {{ publication.volume }},
      pp. {{ publication.page }}.
    {% else %}
      {{ publication.container-title }}.
    {% endif %}
    {% if publication.note %}
      <em>{{ publication.note }}</em>.
    {% endif %}


  {% when 'report' or 'thesis' %}
    {{ publication.genre }},
    {{ publication.publisher }}.

  {% when 'chapter' %}
      In:
      {% for editor in publication.editor %}
        {% if forloop.last and publication.editor.size > 1%}
          &
        {% endif %}
            {{ editor.family }}, {{ editor.given | slice: 0 }}.{% unless forloop.last %},{% endunless %}
      {% endfor %} (eds.)
      {{ publication.container-title }},
      (pp. {{ publication.page }}).
      {{ publication.publisher }}.

  {% when 'book' %}      
      {{ publication.container-title }}
      {{ publication.publisher }}.

  {% else %}
      <strong>Unknown publication type.</strong>

{% endcase %} 
</p>
